.shop {
    width: 70%;
    margin: 2rem auto;
}

.shop h2 {
    font-size: 1.5rem;
    color: #a59b8b;
    text-transform: uppercase;
}

.products {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}