.shop {
    width: 70%;
    margin: 2rem auto;
}

.shop h2 {
    font-size: 1.5rem;
    color: #a59b8b;
    text-transform: uppercase;
}

.products {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}