.product {
    height: 100%;
    background: #d4dbef;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    border-radius: 6px;
}

.productContent {
    flex: 1;
    padding: 0 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productContent h3 {
    font-size: 1.25rem;
    color: #30363b;
    margin-bottom: 0.15rem;
}

.productPrice {
    font-size: 1rem;
    color: rgba(169, 115, 20, 0.45);
    margin: 0;
}

.productActions {
    text-align: right;
}

.productActions button {
    background: #f4b115;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: #201e1a;
    font-size: 1rem;
    cursor: pointer;
}

.productActions button:hover {
    background: #f5b744;
}