.product {
    max-width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #d4dbef;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    border-radius: 6px;
}

.productContent {
    flex: 1;
    padding: 0 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productContent h3 {
    font-size: 1.25rem;
    color: #30363b;
    margin-bottom: 0.15rem;
}

.productPrice {
    font-size: 1rem;
    color: #30363BFF;
    margin: 0;
}

.productActions {
    text-align: right;
}

.productActions button {
    background: #2F3132;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.productActions button:hover {
    background: #fff;
    color: #2F3132;
    border: 2px solid #2F3132;
}