.modal {
    width: 30%;
    background: #d4dbef;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fade-slide-in-from-top 0.3s ease-in-out;
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.65);
}

.modal h2 {
    font-size: 1.5rem;
    color: #30363b;
    text-transform: uppercase;
    margin: 0;
}

.form {
    text-align: right;
}

.form button {
    background: #2F3132;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0 0.2rem;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s;
}

.form button:hover {
    background: #fff;
    color: #2F3132;
    border: 2px solid #2F3132;
    transition: all .3s;
}

@keyframes fade-slide-in-from-top {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}